@page
@model IndexModel
@{
    ViewData["Title"] = "Angel ASP.Net";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my First Page on ASP.Net</h1>
    <h3 class="display-6">This is my first proyect on ASP.Net</h3>
</div>

<div class="text-center">
    <h4 id="saludo">
        Hola a todos! Y gracias! :)
    </h4>
</div>

